.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ff6300;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #684756, #3d314a);
  height: fit-content;
  width: 500px;
  max-width: 100%;
  color: white;
  border-radius: 10px;
  outline: 2px solid #ff6300;
  gap: 20px;
  padding: 20px;
  transition: outline-color 0.3s ease, outline-width 0.3s ease,
    outline-style 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  outline-color: #fac100;
  outline-width: 10px;
  outline-style: double;
  box-shadow: 0 0 100px #0296a2;
}

.container h2 {
  color: #ffffff;
  text-shadow: 1px 1px 0px #ff6300, -1px -1px 0px #ff6300, 1px -1px 0px #ff6300,
    -1px 1px 0px #ff6300;
}

.container p {
  color: #ffffff;
  text-shadow: 1px 1px 0px #3d314a, -1px -1px 0px #3d314a, 1px -1px 0px #3d314a,
    -1px 1px 0px #3d314a;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  background: linear-gradient(to bottom, #684756, #3d314a);
  border-radius: 10px;
  border: 3px dotted #ff6300;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  width: 90%;
  height: 100px;
  text-shadow: 1px 1px 0px #3d314a, -1px -1px 0px #3d314a, 1px -1px 0px #3d314a,
    -1px 1px 0px #3d314a;
  transition: border-color 0.3s ease;
}

.dropzone:hover {
  border-color: #0296a2;
  background: linear-gradient(to bottom, #fac100, #ff6300);
}

button {
  width: 200px;
  min-width: -webkit-fill-available;
  min-width: fit-content;
  height: fit-content;
  padding: 20px;
  background: linear-gradient(to top, #ff6300, #fac100);
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #ff6300;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 1000;
  text-shadow: 1px 1px 0px #3d314a, -1px -1px 0px #3d314a, 1px -1px 0px #3d314a,
    -1px 1px 0px #3d314a;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease,
    background 0.3s ease;
}

button:hover {
  border-color: #fac100;
  text-shadow: 1px 1px 0px #3d314a, -1px -1px 0px #3d314a, 1px -1px 0px #3d314a,
    -1px 1px 0px #3d314a;
  color: #ffffff;
  background: linear-gradient(to top, #fac100, #fac100);
  box-shadow: 0 0 30px #ff6300;
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
  background: linear-gradient(to top, #ff6300, #fac100);
  border-color: #fac100;
  transform: scale(0.97);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  border-color: #3d314a;
  text-shadow: 1px 1px 0px #fac100, -1px -1px 0px #fac100, 1px -1px 0px #fac100,
    -1px 1px 0px #fac100;
  color: #3d314a;
  background: linear-gradient(to top, #ff6300, #684756);
  box-shadow: 0 0 0px #fac100;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  background-color: #ff6300;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 1px 1px 0px #ff6300, -1px -1px 0px #ff6300, 1px -1px 0px #ff6300,
    -1px 1px 0px #ff6300;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #fac100;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  height: 1em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  animation: logoHover 300ms ease-in-out 1;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #3d314a);
}

@keyframes logoHover {
  0% {
    transform: translateY(-0.1em);
  }
  20% {
    transform: translateY(0.2em);
  }
  60% {
    transform: translateY(-0.1em);
  }
  80% {
    transform: translateY(0.2em);
  }
  100% {
    transform: translateY(-0.1em);
  }
}

.logo:active,
.logo:focus {
  animation: logoSpin 0.5s ease-in-out forwards 1;
}

@keyframes logoSpin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.logo.animating {
  animation: float 1s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.logo-img {
  height: 80px;
  width: 100%;
}

.progress-container {
  position: relative;
  width: 100%;
  height: 20px;
  background: #3d314a;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.progress-container.show {
  max-height: 100px;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(to right, #ff6300, #fac100);
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.progress-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.download-container {
  text-align: center;
  /* margin-top: 15px; */
}

.download-button {
  display: inline-block;
  text-decoration: none;
  width: 200px;
  min-width: -webkit-fill-available;
  min-width: fit-content;
  height: fit-content;
  padding: 20px;
  background: linear-gradient(to top, #ff6300, #fac100);
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #ff6300;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 1000;
  text-shadow: 1px 1px 0px #3d314a, -1px -1px 0px #3d314a, 1px -1px 0px #3d314a,
    -1px 1px 0px #3d314a;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease,
    background 0.3s ease;
}

.download-button:hover {
  border-color: #fac100;
  text-shadow: 1px 1px 0px #3d314a, -1px -1px 0px #3d314a, 1px -1px 0px #3d314a,
    -1px 1px 0px #3d314a;
  color: #ffffff;
  background: linear-gradient(to top, #fac100, #fac100);
  box-shadow: 0 0 30px #ff6300;
}

.download-button:active {
  transform: scale(0.97);
}

.progress-message {
  text-align: center;
  /* margin-top: 10px; */
  font-weight: regular;
  color: white;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
  font-size: 14px;
}
